<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        
        <title>Expenses</title>
        {{!-- <link rel="icon" href="img/weather.png"> --}}
    </head>

    <body> 
      

        {{!-- this div will use flexbox to take up all the space to footer can stay at the bottom --}}
        <div class="main-content"> 
            {{>header}}
           
            <p>Add an expense</p>
            <form action="/submitExpense" method="post" autocomplete="off">

                <table>
                    <tr>
                        <td class="row-ID">Description</td>
                        <td>
                            <select name="description" >
                                {{#each allDescriptionsArray}}
                                    <option>{{this}}</option>
                                {{/each}}
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>Shop</td>
                        <td>
                            <select name="shopName" >
                                {{#each allShopsArray}}
                                    <option>{{this}}</option>
                                {{/each}}
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>Method</td>
                        <td>
                            <select name="cashCard">
                                <option value="Cash">Cash</option>
                                <option value="Card">Card</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>Amount</td>
                        <td>
                            <input type='number' name="amount" placeholder="The value of the expense">
                        </td>
                    </tr>

                    <tr>
                        <td>Date</td>
                        <td>
                            <input type="date" name="date">
                        </td>
                    </tr>
                </table>            
                <button>Submit</button>
            </form>





            <br/>
            <p>Expense Description</p>
            <form action="/submitDescription" method="post" autocomplete="off">
                <input name="newDescription" placeholder="Type Description here">
                <button>Add</button>
            </form>

            <form name="deleteDescription">
                <select id="deleteDescriptionSelect" >
                    {{#each allDescriptionsArray}}
                        <option value='{{this}}'>{{this}}</option>
                    {{/each}}
                </select>
                <button>Delete</button>
            </form>
       



            <br/>
            <p>Shop</p>
            <form action="/submitShop" method="post" autocomplete="off">
                <input name="newShop" placeholder="Type Shop here">
                <button>Add</button>
            </form>

            <form name="deleteShopName">
                <select id="deleteShopNameSelect">
                    {{#each allShopsArray}}
                        <option value='{{this}}'>{{this}}</option>
                    {{/each}}
                </select>
                <button>Delete</button>
            </form>

        </div>
        
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>